img{
  display: block;
  width: 100%;
  height: 100%;
}
.banner{
  width: 480px;
  height: 270px;
  position: relative;
  margin: 200px auto;
  border: solid 5px #7d777b;
  overflow: hidden;
}
.banner ul{
  width: 500%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.banner ul li{
  float: left;
  width: 480px;
  height: 100%;
}
.banner ol{
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner ol li{
  width: 20px;
  height: 20px;
  border: solid 2px #fff;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
}
.banner ol li.active{
  background-color: #e0a8d7;
}
.banner .dirBtn{
  width: 100%;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.banner .dirBtn a{
  display: block;
  width: 30px;
  height: 100%;
  text-align: center;
  background-color: rgba(170,170,170,.3);
}
.banner .dirBtn a:hover{
  background-color: rgba(170,170,170,1);
}
.banner .dirBtn a span{
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  line-height: 40px;
}
