@font-face {
  font-family: "iconfont"; /* Project id 3184871 */
  src: url('iconfont.woff2?t=1644931195004') format('woff2'),
       url('iconfont.woff?t=1644931195004') format('woff'),
       url('iconfont.ttf?t=1644931195004') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-201yonghu_yonghu2:before {
  content: "\e63d";
}

.icon-fangdajing:before {
  content: "\e633";
}

.icon-24gl-portraitMaleInfo:before {
  content: "\eb24";
}

